* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
	background-image: linear-gradient(to bottom, #10316b, #102232, #102221);
}

.wrong {
	animation-name: wrongAnswer;
	animation-duration: 0.5s;
}

@keyframes wrongAnswer {
	0% {border-color:  black;}
	50% {border-color:  #ee0000;}
	100% {border-color:  black;}
}


.items {
	/*background-image: linear-gradient(to right, #000000, #001220, #121013);*/
	padding: 10px;
	list-style-type: none;
	width: auto;
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	justify-content: space-around;
}

.item {
	padding: 0 20px;
	border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    transition: all .4s ease-in-out;

}

.item:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.item:focus {
    outline: none;
}



#block {
	margin: 5% 10%;
	border: 20px solid #000000;
	position: relative;
	min-height: 700px;
	min-width: 500px;
	height: 100%;
	overflow: hidden;
	background-color: #dcdcd3;
}


.imgs {
	/*padding: 10px;*/
	margin: 0;
	border: 2px solid black;
}

#outside-check {
	display: flex;
	justify-content: space-around;
}

#check {
	background-image: linear-gradient(to right, black, gray);
}